.markdown-section code,
.markdown-section pre>code {
  font-size: 1em;
}

.markdown-section p code {
font-size: 0.85em;
}

.markdown-section h3 {
  font-size: 1.17em;
}


.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
color: #66d9ef;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
background: #222;
text-shadow: none;
}

pre[class*="language-"] {
padding: 1.5em 1em;
border-radius: 0;
}

.page-inner {
max-width: 1000px;
}

.contensis-logo {
width: 160px;
height: auto;
display: block;
margin-left: 15px;
margin-bottom: 8px;
}

#book-search-input {
  margin-bottom: 5px;
}

.book-summary {
  background: #f4f4f4;
}

.book-summary ul.summary {
  border-top: 1px solid rgba(0,0,0,.07);
  padding-top: 8px;
}


.book-summary ul.summary li.active>a {
border-right: 4px solid #389b71;
background: #e7e7e7;
}

.book-header h1 {
  display: none;
}

.label {
display: inline-block;
border-radius: 4px;
background-color: #333;
color: #fff;
padding: 0.125em 0.375em;
text-align: center;
font-size: 0.875em; /* 14px */
font-weight: bold;
}

.label--big {
font-size: 1em;
}

.label--get {
background-color: #6bbd5b;
}

.label--post {
background-color: #248fb2;
}

.label--put {
background-color: #9b708b;
}

.label--delete {
background-color: #e27a7a;
}

.label--patch {
background-color: #e09d43;
}
